
@{
	ViewData["Title"] = "Home Page";
}

<div>
    <div class="row">
        <div class="col-4">
          
        </div>
    </div>
</div>
<div class="card" style="width: 18rem;">
  <img src='~/images/picture.png' class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">Sincere Walker</h5>
    <p class="card-text">Hello, my name is Sincere! Something that I am good with is collaborating with others on projects invovling web development. What challenges me as a person is learning some of the bootstrap details in html.</p>
    <a href="#" class="btn btn-primary">Go somewhere</a>
  </div>
</div>
<div class="card" style="width: 18rem;">
  <img src='~/images/256.png' class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">Luke Neverosky</h5>
    <p class="card-text">Hello, my name is Luke! I am good at HTML coding and collaborating with others. What challenges me as a person is letting my work build up on me/procrastinating.</p>
    <a href="#" class="btn btn-primary">Go somewhere</a>
  </div>
</div>
<div class="card" style="width: 18rem;">
  <img src='..' class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">Tyler Otero</h5>
    <p class="card-text">Hello, my name is Tyler! I am good with JavaScript and User Interface. What challenges me the most is learning all the different styles of CSS and implementing them effectively.</p>
    <a href="#" class="btn btn-primary">Go somewhere</a>
  </div>
<div class="card" style="width: 18rem;">
  <img src='..' class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">Naji Albalawi</h5>
    <p class="card-text">Hello, my name is Naji! I am good with the front-end development aspect like HTML and CSS. The thing that challenges me is learning the back-end development.</p>
    <a href="#" class="btn btn-primary">Go somewhere</a>
  </div>
  <div class="card" style="width: 18rem;">
  <img src='..' class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">Vinit Patel</h5>
    <p class="card-text">Hello, my name is Vinit! I am good with using critical thinking and web designing when using bootstrap. What Challenges me the most are the high order functions and the right implementation of styling in web development.</p>
    <a href="#" class="btn btn-primary">Go somewhere</a>
  </div>
  <div class="card" style="width: 18rem;">
  <img src='~/images/item.jpg' class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">Ryan Ruiz</h5>
    <p class="card-text">Hello, my name is Ryan! I am good at being a team player and doing my portion of every assignment in a timely manner. Along with this, I am very good at the basic of HTML and CSS. I struggle with JavaScript the most.</p>
    <a href="#" class="btn btn-primary">Go somewhere</a>
  </div>
</div>
