.nav-link:hover
{
    transform: scale(1.0)
}

.body-container
{
    padding-bottom: 60px;
}

.psu-logo
{
    height: 2em;
}

.border-dashed
{
    border-style: dashed;
    border-width: 3px;
}

.x-small
{
    font-size:.75em;
}
.card
{
	width: 30%;
	margin: 20px;
	display: inline-block;
}

.card-img-top
{
	width: 100%;
	max-width: 200px;
	height: auto;
}

.card-body
{
	padding: 10px;
	text-align: center;
}

.product-price
{
	font-weight: bold;
	color: green;
}

.product-text
{
	color: #333;
}

.order-button
{
	background-color: #007BFF;
	color: #fff;
	padding: 8px 16px;
	border: none;
	border-radius: 4px;
	cursor: pointer;
}
