
    <div class="jumbotron">
        <h1>Lions Paw</h1>
<!DOCTYPE html>
<html>
<head>
    <title>Bold Text Example</title>
    <style>
        .bold-text {
            font-weight: bold;
        }
    </style>
</head>
<body>
    <p><strong class="bold-text">One small step for lions, one giant leap for tailgating</strong></p>
</body>
</html>

        </div>
 <div class="topnav">
  <a class="active" href="#home">Shoe Size</a>
  <a href="#about"></a>
  <a href="#contact"></a>
  <input type="text" placeholder="Search..">
</div>
<div class="topnav">
  <a class="active" href="#home">Sales</a>
  <a href="#about"></a>
  <a href="#contact"></a>
  <input type="text" placeholder="Search..">
</div>
<div class="topnav">
  <a class="active" href="#home">New Arrvials</a>
  <a href="#about"></a>
  <a href="#contact"></a>
  <input type="text" placeholder="Search..">
</div>
 <img src='~/images/542.png' class="card-img-top" alt="...">
    <div style="display: inline-block;">
    <img src='~/images/nike-air-force-1-lead-1.png.jpeg' class="card-img-top" alt="..." style="width: 500px; height: 500px;">

</div>
<div style="display: inline-block;">
    <img src='~/images/Nike-BlackAirForce.webp' class="card-img-top" alt="...">
</div> <div style="display: inline-block;">
    <img src='~/images/531.png' class="card-img-top" alt="...">
</div>

	
    <div class="Company">
        <h2>Company</h2>
        <p>Learn more about Lions paw Via the About us page!</p>
    </div>

    <div class="Customer Services">
        <h2>Customer Services</h2>
        <p>All questions can be answered in person, or via phone.</p>
    </div>

    <div class="Payment Methods">
        <h2>Payment Methods</h2>
        <p>Orders can be paid via credit,debit,online payment options, and lion cash.</p>
    </div>


