<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Group Information</title>
    <link rel="stylesheet" href="styles.css" 
</head>
<body>
    <div class="jumbotron">
        <h1>IST Final Project Group 5</h1>
        </div>

    <div class="communication-plan">
        <h2>Communication Plan</h2>
        <p>We communicate through our personal phones via emails, and GroupMe. Incase of an emergency, contact through our phone numbers is allowed.</p>
    </div>

    <div class="code-of-conduct">
        <h2>Code of Conduct</h2>
        <p>Every member of this group will be treated fairly, and we as a group will represent eithical and moral behavior to the highest standard.</p>
    </div>

    <div class="expectations">
        <h2>Level of Expectation</h2>
        <p>We expect each group member to communicate effectively, remain on task and on schedule, and provide their full potential and effort to the completion of our project.</p>
    </div>

    <div class="values">
        <h2>Group's Values</h2>
        <p>Our group values communication, honesty, and ensuring work is completed to the maximum potential of each member.</p>
    </div>
</body>
</html>

